%h1{style: "font-size: 16px;"}= @product_type.name
%p
  = @product_type.description.html_safe
.container-fluid
  .row-fluid
    .span4
      #click_image_color.span10.offset1
        = render "image_color"
    .span8
      - @product_colors.each do |product_color|
        .overlink_to_color  
          =link_to "", product_type_path(get_product_color_id: product_color.id), remote: true, class: "link_to_color", style:"background-color: #{product_color.rgb};", id: product_color.big_image_url, title: product_color.name
          = product_color.name
      .clear
      %br
      .span12
        #to_order_menu
          - if @white_prices_old.show_old_flag
            %h5 Старая цена:
            .old_price_cross
              %table.table.old_price_cross_inner.table-bordered
                %tr
                  %th
                  %th 1-9
                  %th 10-59
                  %th 60-109
                  %th 110-259
                  %th 260-509
                  %th 510-1009
                  %th 1010+
                %tr
                  %td Белые
                  %td=@white_prices_old.price_1
                  %td=@white_prices_old.price_2
                  %td=@white_prices_old.price_3
                  %td=@white_prices_old.price_4
                  %td=@white_prices_old.price_5
                  %td=@white_prices_old.price_6
                  %td=@white_prices_old.price_7
                %tr
                  %td Цветные
                  %td=@color_prices_old.price_1
                  %td=@color_prices_old.price_2
                  %td=@color_prices_old.price_3
                  %td=@color_prices_old.price_4
                  %td=@color_prices_old.price_5
                  %td=@color_prices_old.price_6
                  %td=@color_prices_old.price_7
            %h5 Новая цена:
            %table.table.table-hover.table-bordered
              %tr
                %th
                %th 1-9
                %th 10-59
                %th 60-109
                %th 110-259
                %th 260-509
                %th 510-1009
                %th 1010+
              %tr.success
                %td Белые
                %td=@white_prices.price_1
                %td=@white_prices.price_2
                %td=@white_prices.price_3
                %td=@white_prices.price_4
                %td=@white_prices.price_5
                %td=@white_prices.price_6
                %td=@white_prices.price_7
              %tr.success
                %td Цветные
                %td=@color_prices.price_1
                %td=@color_prices.price_2
                %td=@color_prices.price_3
                %td=@color_prices.price_4
                %td=@color_prices.price_5
                %td=@color_prices.price_6
                %td=@color_prices.price_7
          - else
            %h5 Цена:
            %table.table.table-hover.table-bordered
              %tr
                %th
                %th 1-9
                %th 10-59
                %th 60-109
                %th 110-259
                %th 260-509
                %th 510-1009
                %th 1010+
              %tr.success
                %td Белые
                %td=@white_prices.price_1
                %td=@white_prices.price_2
                %td=@white_prices.price_3
                %td=@white_prices.price_4
                %td=@white_prices.price_5
                %td=@white_prices.price_6
                %td=@white_prices.price_7
              %tr.success
                %td Цветные
                %td=@color_prices.price_1
                %td=@color_prices.price_2
                %td=@color_prices.price_3
                %td=@color_prices.price_4
                %td=@color_prices.price_5
                %td=@color_prices.price_6
                %td=@color_prices.price_7
          %br
          #link_to_order_menu.btn-glass.btn-glass-green.center.offset8
            Заказать
        #order_menu
          %hr
          #link_out_order_menu.btn-glass.btn-glass-red.center.offset8
            Закрыть
          .clear
          .container-fluid
            .row-fluid
              #list_to_cart.span8
              .span4
                %br
                %br
                .well
                  %h6 * Выберите цвет:
                  = form_tag @product_type, method: :get, remote: true do
                    = select_tag "get_product_color_id", options_from_collection_for_select(@product_colors, "id", "name", @product_color.id), class: "span12"
          .clear
.clear
- if @current_user && @current_group.view_sklad_flag
  %hr
  %h4 Товар на складе
  - if @current_group && @current_group.view_reserv_flag
    .pull-left{style: "width:30px;height:12px;background-color:#d9edf7;margin:2px;"}
    Остаток на складе
    .clear
    .pull-left{style: "width:30px;height:12px;background-color:#fcf8e3;margin:2px;"}
    Зарезервировано
    .clear
  = render "color_count_list"