- if flash[:alert]
	%p#notice
		= flash[:alert]

.form-signin
	= form_tag do
		%h3.form-signin-heading Авторизация
		%h5.form-signin-heading Введите адрес электронной почты и пароль
		.input-block-level
			= text_field_tag :email, params[:email], :placeholder => "Email address"
		.input-block-level
			= password_field_tag :password, params[:password], :placeholder => "Password"
		= submit_tag "Войти", :class => "btn btn-large btn-primary"