<h5><%= @product_type.name %></h5>
<%=link_to "Редактирование цен", product_colors_path(get_product_type_id: params[:get_product_type_id]), class: "span3 btn-glass btn-glass-light" %>
<div class="clear"></div>
<br>
<table class="table table-bordered">
  <tr>
    <th class="span2"></th>
    <div class="hide"><%= @product_sizes = ProductSize.find_all_by_product_color_id(@product_colors.first.id) %></div>
    <% @product_sizes.each do |product_size| %>
      <th class="span1">
        <%= product_size.name %>
      </th>
    <% end %>
  </tr>
  <% @product_colors.each do |product_color| %>
    <tr>
      <td class="span2">
        <b><%= product_color.name %></b>
        <div class="hide"><%= @product_sizes = ProductSize.find_all_by_product_color_id(product_color.id) %></div>
      </td>
      <% @product_sizes.each do |product_size| %>
        <% if @current_product_size_id && @current_product_size_id == product_size.id %>
          <td id="current_product_size" class="span1"> 
        <% else %>
          <td class="span1"> 
        <% end %>
          <%= form_for product_size, class: "count_editor_form", remote: true do |f| %>
            <%= f.text_field :count, class: "span12" %>
          <% end %>
        </td>
      <% end %>
    </tr>
  <% end %>
</table>