%ul.nav.nav-tabs.nav-stacked
  %li= link_to 'Заказы/Резервы', orders_path
  %li= link_to 'Пользователи', users_path
  %li= link_to 'Редактирование склада', products_path
  %li= link_to 'Настройки', user_groups_path
  %li= link_to 'Архив', orders_path(temp_order_id: "5")
  %li= link_to 'Редактор новостей', edit_tool_path(1)
  %li= link_to 'Управление скидками', discounts_path 
