= form_for @user, html: {class: "form-horizontal"} do |f|
  - if @user.errors.any?
    #error_explanation
      %h2= "#{pluralize(@user.errors.count, "error")} prohibited this user from being saved:"
      %ul
        - @user.errors.full_messages.each do |msg|
          %li= msg

  - if @current_group && @current_group.admin_flag
    .control-group
      = f.select "user_group_id", options_from_collection_for_select(@user_groups, "id", "name", @current_user_group.id)
    .control-group
      = f.label "Подтверждение регистрации:"
      .controls
        = f.check_box :reg_confirm_admin
  .control-group
    = f.label "Имя:", class: "control-label"
    .controls
      = f.text_field :name
  .control-group
    = f.label "Адрес электронной почты:", class: "control-label"
    .controls  
      = f.email_field :email
  .control-group
    = f.label "Пароль:", class: "control-label"
    .controls
      = f.password_field :password
  .control-group
    = f.label "Подтверждение пароля:", class: "control-label"
    .controls
      = f.password_field :password_confirmation
  .control-group
    = f.label "Форма собственности: ", class: "control-label"
    .controls
      = f.text_field :type_of_ownership
  - if @user.edit_data_flag  
    .control-group
      = f.label "Название организации: ", class: "control-label"
      .controls
        = f.text_field :company_name
      - if @current_group && @current_group.admin_flag
        = f.label "Разрешить редактирование: ", class: "control-label"
        = f.check_box :edit_data_flag
  - else
    .control-group
      = f.label "Название организации: ", class: "control-label"
      .controls
        = f.label @user.company_name, class: "control-label"
  .control-group
    = f.label "УНП: ", class: "control-label"
    .controls
      = f.text_field :unp
  .control-group
    = f.label "Юридический адрес: ", class: "control-label"
    .controls
      = f.text_field :juridical_address
    .controls
    = f.label "Совподает с почтовым: ", class: "control-label"
    .controls
      = check_box_tag :mail_duplicate, "false"
  .control-group
    = f.label "Почтовый адрес: ", class: "control-label"
    .controls
      = f.text_field :mailing_address
  .control-group
    = f.label "Контактное лицо: ", class: "control-label"
    .controls
      = f.text_field :contact_name
  %div#phones
    .control-group
      = f.label "Номер телефона: ", class: "control-label"
      .controls
        = f.text_field :phone_number_0
    .control-group
      = f.label "Номер телефона: ", class: "control-label"
      .controls
        = f.text_field :phone_number_1
    .control-group
      = f.label "Номер телефона: ", class: "control-label"
      .controls
        = f.text_field :phone_number_2
    .control-group
      = f.label "Номер телефона: ", class: "control-label"
      .controls
        = f.text_field :phone_number_3
    .control-group
      .controls
        =link_to "Добавить телефонный номер", "#",{class: "btn", id: "my_button", remote: true}
  .control-group
    = f.label "Skype: ", class: "control-label"
    .controls
      = f.text_field :skype
  .control-group
    = f.label "Время работы: ", class: "control-label"
    .controls
      = f.text_field :work_time
  -if (params[:action] == "edit")
    = f.submit 'Сохранить', class: "btn btn-primary"
    =link_to "Отмена", user_path, {class: "btn"}
  -else
    = f.submit 'Зарегистрироваться', class: "btn"
