.alert.alert-success
  %ul
    %li Все поля должны быть заполнены
    %li Пароль не менее 6 символов
    %li Номер УНП - 9 цифр
= form_for @user, html: {class: "form-horizontal"} do |f|
  - if @current_group && @current_group.admin_flag
    .row-fluid
      .span1
        Группа:
      .span4
        = f.select "user_group_id",  options_from_collection_for_select(@user_groups, "id", "name", @current_user_group.id)
      .span3
        = f.label "Подтвердить регистрацию:"
      .span1
        = f.check_box :reg_confirm_admin
  %hr
  .control-group
    = f.label "Имя:", class: "control-label"
    .controls
      = f.text_field :name, class: "input-xlarge"
  .control-group
    = f.label "Адрес электронной почты:", class: "control-label"
    .controls  
      = f.email_field :email, class: "input-xlarge"
  .control-group
    = f.label "Пароль:", class: "control-label"
    .controls
      = f.password_field :password, class: "input-xlarge"
  .control-group
    = f.label "Подтверждение пароля:", class: "control-label"
    .controls
      = f.password_field :password_confirmation, class: "input-xlarge"
  .control-group
    = f.label "Форма собственности: ", class: "control-label"
    .controls
      = f.text_field :type_of_ownership, class: "input-xlarge"
  - if @user.edit_data_flag  
    .control-group
      = f.label "Название организации: ", class: "control-label"
      .controls
        = f.text_field :company_name, class: "input-xlarge"
  - else
    .control-group
      = f.label "Название организации: ", class: "control-label"
      .controls
        = f.text_field :company_name, readonly: "readonly", class: "input-xlarge"
  - if @current_group && @current_group.admin_flag
    .control-group
      = f.label "Разрешить редактирование: ", class: "control-label"
      .controls
        = f.check_box :edit_data_flag, class: "input-xlarge"
  .control-group
    = f.label "УНП: ", class: "control-label"
    .controls
      = f.text_field :unp, class: "input-xlarge"
  .control-group
    = f.label "Юридический адрес: ", class: "control-label"
    .controls
      = f.text_field :juridical_address, class: "input-xlarge"
  .control-group
    = f.label "Совподает с почтовым: ", class: "control-label"
    .controls
      = check_box_tag :mail_duplicate, "false"
  .control-group
    = f.label "Почтовый адрес: ", class: "control-label"
    .controls
      = f.text_field :mailing_address, class: "input-xlarge"
  .control-group
    = f.label "Контактное лицо: ", class: "control-label"
    .controls
      = f.text_field :contact_name, class: "input-xlarge"
  %div#phones
    .control-group
      = f.label "Номер телефона: ", class: "control-label"
      .controls
        = f.text_field :phone_number_0, class: "input-xlarge"
    .control-group
      = f.label "Номер телефона: ", class: "control-label"
      .controls
        = f.text_field :phone_number_1, class: "input-xlarge"
    .control-group
      = f.label "Номер телефона: ", class: "control-label"
      .controls
        = f.text_field :phone_number_2, class: "input-xlarge"
    .control-group
      = f.label "Номер телефона: ", class: "control-label"
      .controls
        = f.text_field :phone_number_3, class: "input-xlarge"
    .control-group
      .controls
        =link_to "Добавить телефонный номер", "#",{class: "btn btn-inverse", id: "my_button", remote: true}
  .control-group
    = f.label "Skype: ", class: "control-label"
    .controls
      = f.text_field :skype, class: "input-xlarge"
  .control-group
    = f.label "Время работы: ", class: "control-label"
    .controls
      = f.text_field :work_time, class: "input-xlarge"    
  -if (params[:action] == "edit")
    .center
      = f.submit 'Сохранить', class: "btn-glass btn-glass-green span2"
    =link_to "Назад", user_path
  -else
    .center
      = f.submit 'Зарегистрироваться', class: "btn-glass btn-glass-blue span3"
