%h1 Пользователи
%br
.row-fluid
  .span5
    = form_tag '/users', method: :get do
      = select_tag :temp_id, options_for_select([['Зарегестрированные пользователи', 1], ['Ожидают регистрации', 2]], params[:temp_id]), class: "span12"
  .span5
    = search_field_tag "search", "", placeholder: "Поиск..."
%table.table-hover{cellpadding: "5px", border: "2"}
  %tr
    %th.span6 Наименование организации
    %th.span4 Последний раз на сайте
    %th.span2 Действия
  - @users.each do |user|
    %tr.company_name
      %td.span6
        %b
          = user.type_of_ownership
          "
          = user.company_name
          "
      %td.span4.center
        = user.last_in.in_time_zone('Minsk').strftime("%d.%m.%Y %H:%M")
      %td.btn-group.span2
        = link_to '', user, title: "Показать", class: "btn icon-eye-open"
        = link_to '', edit_user_path(user), title: "Редактировать", class: "btn icon-pencil"
        = link_to '', user, title: "Удалить", :confirm => 'Are you sure?', :method => :delete, class: "btn btn-danger icon-trash"