.row-fluid
  .span6
    %h4 Личный кабинет
  .span3.offset3
    - if @current_group and @current_group.admin_flag
      - unless @current_user.id == params[:id].to_i
        %h6= link_to 'Редактировать профиль', edit_user_path(@user)
.row-fluid
  .span5
    Последний раз на сайте:
    = @user.last_in.in_time_zone('Minsk').strftime("%d.%m.%Y %H:%M")
  .span3.offset4
    email:
    = mail_to @user.email  
  
.row-fluid
  - if @current_group and @current_group.admin_flag
    - if @current_user.id == params[:id].to_i
      .span5
        = render "admin_form"
    - else
      .span5
        = render "user_form"
      .span7
        .well
          = render 'form' 
  - else
    .span5
      = render "user_form"
    .span7
      .well
        = render 'form'