- if @current_user
  .row-fluid
    .well
      .span7
        = render 'show_form'
        = form_for @order, html: { multipart: true } do |f|
          .field
            = f.hidden_field :user_id
          .field
            = f.text_area :details, placeholder: "Дополнительная информация", class: "span12", rows: 6
          .field.well
            = f.label "Прикрепить принт"
            = f.file_field :img
          %br
          .center
            = f.submit 'Разместить заказ', class: "btn-glass btn-glass-green"
            = f.submit 'Поставить в резерв', reserv_flag: true, class: "btn-glass btn-glass-blue"

      .span5
        .well
          = render 'users/form'
      .clear
-else
  %h4 Разместите заказ или войдите под своей учетной записью
  .row-fluid
    .well
      .span7
        = render 'show_form'
        = form_for @order do |f|
          .field
            = f.hidden_field :user_id
          .field
            = f.text_field :name, placeholder: "Имя", class: "span12", rows: 6
          .field
            = f.email_field :email, placeholder: "e-mail", class: "span12", rows: 6
          .field
            = f.text_area :details, placeholder: "Укажите здесь номер телефона чтобы мы могли связаться с Вами", class: "span12", rows: 6
          .center
            = f.submit 'Разместить заказ', class: "btn-glass btn-glass-green"
      .span5.center
        %br
        = render template: 'sessions/new'
      .clear
%script
  $("#cart").addClass("hide");