%h2 Управление заказами (резервами , архивами)

- if @current_group && @current_group.admin_flag
  = form_tag '/orders', method: :get do
    .row-fluid
      .span5
        = select_tag :temp_order_id, options_for_select([['Заказы (сорт. А-Я)', 1], ['Заказы (сорт. Дата)', 2], ['Резервы (сорт. А-Я)', 3], ['Резервы (сорт. Дата)', 4], ['Архив (сорт. А-Я)', 5], ['Архив (сорт. Дата)', 6]], params[:temp_order_id]), class: "span12"
      .span5
        = search_field_tag "search", "", placeholder: "Поиск..."
  %table.table.table-hover
    %tr
      %th.span2 №
      %th.span3 Наименование организации
      %th.span4 Состояние
      %th.span3 Дата создания заказа

    - @orders.each do |order|
      %tr.order_name.info
        %td.span2= order.id
        %td.span3
          "
          = link_to order.name, order
          "
        %td.span4
          = order.status 
          = order.updated_at.in_time_zone('Minsk').strftime("%d.%m.%Y (%H:%M)")
        %td.span3= order.created_at.in_time_zone('Minsk').strftime("%d.%m.%Y (%H:%M)")        
- else
  %table.table.table-hover
    %tr
      %th.span2 №
      %th.span3 Дата создания заказа
      %th.span3 Состояние
      %th.span4 Дополнительная информация

    - @orders.each do |order|
      %tr.info
        %td.span2
        %td.span3=link_to order.created_at.in_time_zone('Minsk').strftime("%d.%m.%Y (%H:%M)"), order
        %td.span3= order.status
        %td.span4= order.details
= link_to "Назад", user_path(@current_user)