- if @current_group.admin_flag
  = render 'users/admin_form'
- else 
  = render 'users/userform'
%br
%h1 Listing orders

%table
  %tr
    %th Name
    %th Email
    %th Details
    %th
    %th
    %th
  - if @current_group.admin_flag
    = form_tag '/orders', method: :get do
      = select_tag :temp_order_id, options_for_select([['Заказы', 1], ['Резервы', 2]], params[:temp_order_id])
    Поиск:
    = search_field_tag "search"
    - @orders.each do |order|
      %tr.order_name
        %td= link_to order.name, order
        %td= order.email
        %td= order.details
        %td= link_to 'Show', order
        %td= link_to 'Edit', edit_order_path(order)
        %td
          Поместить в архив 
          = check_box_tag :check_to_archive, true, checked: true
        %td= link_to 'Завершить заказ', order, :confirm => 'Are you sure?', :method => :delete
  - else
    - @orders.each do |order|
      %tr
        %td= order.name
        %td= order.email
        %td= order.details
        %td= link_to 'Show', order
%br