%h2 Управление заказами (резервами , архивами)
= link_to "В личный кабинет", user_path(@current_user)
%br
%br
- if @current_group && @current_group.admin_flag
  = form_tag '/orders', method: :get do
    .row-fluid
      .span5
        = select_tag :temp_order_id, options_for_select([['Заказы (сорт. А-Я)', 1], ['Заказы (сорт. Дата)', 2], ['Резервы (сорт. А-Я)', 3], ['Резервы (сорт. Дата)', 4], ['Архив (сорт. А-Я)', 5], ['Архив (сорт. Дата)', 6]], params[:temp_order_id]), class: "span12"
      .span5
        = search_field_tag "search", "", placeholder: "Поиск..."
  %table.table.table-hover
    %tr
      %th.span2 №
      %th.span3 Наименование организации
      %th.span2 Состояние
      %th.span3
      %th.span2 Дата создания заказа

    - @orders.each do |order|
      %tr.order_name.info
        %td.span2= order.id
        %td.span3
          "
          = link_to order.name, order
          "
        - if order.status == "Обработан" && Spec.find_by_order_id(order.id).pay_type == "Выставлена спецификация"
          %td.span2
            = order.status
            = order.updated_at.in_time_zone('Minsk').strftime("%d.%m.%Y (%H:%M)")
          %td.span3
            = link_to "", Spec.find_by_order_id(order.id).xls_tab.url, title: "Скачать спецификацию к заказу № #{order.id}", class: "btn btn-info icon-download-alt span2"
            = link_to "", Spec.find_by_order_id(order.id), title: "Удалить спецификацию к заказу № #{order.id}", :confirm => 'Вы уверены что хотите удалить спецификацию к заказу № #{order.id}?', :method => :delete, class: "btn btn-danger icon-trash span2"
        - else
          %td.span2
            = order.status 
          %td.span3
        %td.span2= order.created_at.in_time_zone('Minsk').strftime("%d.%m.%Y (%H:%M)")
        %td.span1= link_to "", order, title: "Удалить заказ № #{order.id}", :confirm => 'Вы уверены что хотите удалить заказ № #{order.id}?', :method => :delete, class: "btn btn-danger icon-trash"      
- else
  %table.table.table-hover
    %tr
      %th.span2 №
      %th.span3 Дата создания заказа
      %th.span3 Состояние
      %th.span4 Дополнительная информация

    - @orders.each do |order|
      %tr.info
        %td.span2
        %td.span3=link_to order.created_at.in_time_zone('Minsk').strftime("%d.%m.%Y (%H:%M)"), order
        %td.span3= order.status
        %td.span4= order.details