.well
  .row-fluid
    .span7  
      %p
        %b Заказчик:
        = @order.name
      %p
        %b Адрес электронной почты:
        = @order.email
      - unless @order.details == ""
        %p
          %b Дополнительная информация:
        .span12
          %p= @order.details
      %br
    .span5
      .pull-right.product_show_imgs.img-polaroid
        - if @order.img.presence
          = link_to image_tag(@order.img.url(:small)), @order.img.url, target: "_blank"

= render "show_form"

%p
  %b
    Приблизительная стоимость: 
    = number_to_currency @cost, :precision => 0, :unit => "руб.", :delimiter => ".", :format => "%n %u"

-if !@order.archive_flag
  = link_to 'Редактировать', edit_order_path(@order)
  -if @order.reserv_flag
    = link_to 'Перевести в заказ', order_path(order: @order), method: :put
  -else
    .center
      .btn-group
        - if @current_group.admin_flag 
          = link_to 'Отправить в архив', order_path(order: @order), method: :put, class: "btn btn-info"
          = link_to 'Создать спецификацию', new_spec_path(order_id: @order.id), class: "btn btn-info"
        = link_to 'Удалить', @order, :confirm => 'Вы уверены?', :method => :delete, class: "btn btn-danger"
- if @order.archive_flag and @current_group.admin_flag
  = link_to 'Восстановить', order_path(order: @order), method: :put, class: "btn btn-info"
%br
= link_to 'К списку заказов', orders_path