%p
  %b Заказчик:
  = @order.name
%p
  %b Адрес электронной почты:
  = @order.email
%p
  %b Дополнительная информация:
.span12
  %p= @order.details
%p
  - if @order.reserv_flag
    %i Резерв

= render "show_form"
= link_to 'Редактировать', carts_path(order_id: @order.id), method: :post
%p * Ваш заказ будет перемещен в корзину для редактирования
= link_to 'К списку заказов', orders_path
