<% @products.each do |product| %>
  <h4><%= product.name %></h4>
  <div class="hide"><%= @product_types = ProductType.find_all_by_product_id(product.id) %></div>
  <table class="table-bordered table-considered">
  <% @product_types.each do |product_type| %>
    <tr><td class="span4"><h5><%= product_type.name %></h5>
    <div class="hide"><%= @product_colors = ProductColor.find_all_by_product_type_id(product_type.id) %></div>
    </td><td class="span8">
    <table class="table_product_type">
    <% @product_colors.each do |product_color| %>
      <tr><td class="span2"><%= product_color.name %><br>
      <div class="hide"><%= @product_sizes = ProductSize.find_all_by_product_color_id(product_color.id) %></div>
      </td><td class="span10">
      <table class="table_product_size">
      <tr>
      <% @product_sizes.each do |product_size| %>
        <td class="span1"><%= product_size.name %></td>
      <% end %>
        <td class="span1">Сумма</td>
      </tr>
      <tr>
      <div class="hide"><%= @sum = 0 %></div>
      <% @product_sizes.each do |product_size| %>
        <td class="td_product_count span1">
          <div class="static_product_count"><%= product_size.count %></div>
          <div class="hide"><%= @sum += product_size.count %></div>
        </td>
      <% end %>
        <td class="td_product_count"><div class="static_product_count"><%= @sum %></div></td>
      </tr>
      <% if @current_group && @current_group.view_reserv_flag %>
        <tr>
        <% @product_sizes.each do |product_size| %>
          <td class="td_product_reserv"><%= product_size.reserv %></td>
        <% end %>
        </tr>
      <% end %>
      </table>
      </td>
      </tr>
    <% end %>
    </table>
    </td>
    </tr>
  <% end %>
  </table>
  <br>
<% end %>