.row
	- @product_types.each do |product_type|
		.span3
			= image_tag product_type.big_image_url,{width: "100%", class: "img-rounded"}
			= link_to product_type.name, product_type
		.span3
			= image_tag product_type.big_image_url,{width: "100%", class: "img-rounded"}
			= link_to product_type.name, product_type
		.span3
			= image_tag product_type.big_image_url,{width: "100%", class: "img-rounded"}
			= link_to product_type.name, product_type
		.span3
			= image_tag product_type.big_image_url,{width: "100%", class: "img-rounded"}
			= link_to product_type.name, product_type
		.span3
			= image_tag product_type.big_image_url,{width: "100%", class: "img-rounded"}
			= link_to product_type.name, product_type
		.span3
			= image_tag product_type.big_image_url,{width: "100%", class: "img-rounded"}
			= link_to product_type.name, product_type
		.span3
			= image_tag product_type.big_image_url,{width: "100%", class: "img-rounded"}
			= link_to product_type.name, product_type
		.span3
			= image_tag product_type.big_image_url,{width: "100%", class: "img-rounded"}
			= link_to product_type.name, product_type
		.span3
			= image_tag product_type.big_image_url,{width: "100%", class: "img-rounded"}
			= link_to product_type.name, product_type