<% if line_item == @current_item %>
<tr id="current_item">
<% else %>
<tr>
<% end %>
<td style="width: 2px;background-color: <%= ProductColor.find_by_id(ProductSize.find_by_id(line_item.product_size_id).product_color_id).rgb %>;box-shadow: 0px 0px 10px <%= ProductColor.find_by_id(ProductSize.find_by_id(line_item.product_size_id).product_color_id).rgb %>;"></td>
<td><%= image_tag Product.find_by_id(ProductType.find_by_id(ProductColor.find_by_id(ProductSize.find_by_id(line_item.product_size_id).product_color_id).product_type_id).product_id).small_image_url, size: "20x20" %></td>
<td><%= image_tag ProductType.find_by_id(ProductColor.find_by_id(ProductSize.find_by_id(line_item.product_size_id).product_color_id).product_type_id).small_image_url, size: "20x20" %></td>
<td><%= line_item.quantity%>&times</td>
<td><%= line_item.product_size.name %></td>
</tr>