<% if line_item == @current_item %>
<tr id="current_item">
<% else %>
<tr>
<% end %>
<td style="width: 2px;background-color: <%= ProductColor.find_by_id(ProductSize.find_by_id(line_item.product_size_id).product_color_id).rgb %>;box-shadow: 0px 0px 5px <%= ProductColor.find_by_id(ProductSize.find_by_id(line_item.product_size_id).product_color_id).rgb %>;"></td>
<td style="font-size: 10px;"><%= ProductType.find_by_id(ProductColor.find_by_id(ProductSize.find_by_id(line_item.product_size_id).product_color_id).product_type_id).name %></td>
<% if line_item.product_size.name != "-" %>
	<td><%= line_item.quantity%>&times<%= line_item.product_size.name %></td>
<% else %>
	<td><%= line_item.quantity%></td>
<% end %>
	<td><%= link_to "<i class='icon-remove'></i>".html_safe, line_item, method: :delete, remote: true %></td>
</tr>