!!!
%html
	%head
		%title Модерн Импорт
		= stylesheet_link_tag    "application", :media => "all"
		= javascript_include_tag "application"
		= csrf_meta_tags
	%body
		#wrap.gradient
			#temp_params_info
				=params
			=image_tag "Hat.png",{width: "100%" }
			.navbar
				.navbar-inner
					.btn-toolbar.pull-left
						= link_to "Модерн Импорт", root_path, class: "brand"
					.btn-toolbar.pull-left
						.btn-group
							= link_to "<i class='icon-tasks'></i> Склад".html_safe, "/products", class: "btn btn-primary"
							= link_to "<i class='icon-calendar'></i> Перевод размеров".html_safe, "/convertsizes", class: "btn btn-primary"
							= link_to "<i class='icon-random'></i> Схема проезда".html_safe, "/scheme", class: "btn btn-primary"
							= link_to "<i class='icon-comment'></i> О нас".html_safe, "/about", class: "btn btn-primary"
							= link_to "<i class='icon-envelope'></i> Контакты".html_safe, "/contact", class: "btn btn-primary"
							//%li{class: "active"}
					.btn-toolbar.pull-right
						.btn-group
							- if @current_user
								= link_to "<i class='icon-user'></i> #{@current_user.name}".html_safe, @current_user, class: "btn btn-primary"
								= link_to "<i class='icon-share-alt'></i> Выйти".html_safe, logout_path, method: :delete, class: "btn btn-primary"
							- else
								= link_to "Регистрация", "/register", class: "btn btn-primary"
								= link_to "Вход", login_path, class: "btn btn-primary"
					.clear
			.container-fluid
				.row-fluid
					.span3
						.well
							.nav-header Наша продукция
							//%li{class:"active"}= link_to "Футболки", "/products/1"
							= link_to "Футболки", "/products/1", class: "btn btn-info btn-block"
							= link_to "Рубашки поло", "/products/2", class: "btn btn-info btn-block"
							= link_to "Толстовки", "/products/3", class: "btn btn-info btn-block"
							= link_to "Бейсболки", "/products/4", class: "btn btn-info btn-block"
						.well
							= link_to "<i class='icon-search'></i> Поиск товара".html_safe, product_sizes_path, class: "btn btn-inverse btn-block"			
						- if @cart
							#cart
								= render @cart
					.span9
						-if notice
							.alert.alert-success=notice.html_safe
						.well
							= yield
			#push
		%footer#footer
			.container.center
				%p#p_footer &copy; Модерн Импорт 2012
				%p#p_footer 
					Powered by
					=link_to "Verch", "http://www.verch.pro/web", target: :blank