!!!
%html
	%head
		%title Модерн Импорт
		= stylesheet_link_tag    "application", :media => "all"
		= javascript_include_tag "application"
		= csrf_meta_tags
	%body
		#wrap.gradient
			#temp_params_info.hide
				=params
			=image_tag "Hat.png",{width: "100%" }
			.navbar
				.navbar-inner
					.btn-toolbar.pull-left
						= link_to "Модерн Импорт", root_path, class: "brand"
					.btn-toolbar.pull-left
						.btn-group
							- if ((params[:controller] == "products") || (params[:controller] == "product_types") || params[:get_product_type_id]) && (params[:action] == "index")
								= link_to "<i class='icon-tasks'></i> Склад".html_safe, "/products", class: "btn btn-primary active"
							- else
								= link_to "<i class='icon-tasks'></i> Склад".html_safe, "/products", class: "btn btn-primary"
							- if (params[:action] == "convertsizes")
								= link_to "<i class='icon-calendar'></i> Перевод размеров".html_safe, "/convertsizes", class: "btn btn-primary active"
							- else
								= link_to "<i class='icon-calendar'></i> Перевод размеров".html_safe, "/convertsizes", class: "btn btn-primary"
							- if (params[:action] == "scheme")
								= link_to "<i class='icon-random'></i> Схема проезда".html_safe, "/scheme", class: "btn btn-primary active"
							- else
								= link_to "<i class='icon-random'></i> Схема проезда".html_safe, "/scheme", class: "btn btn-primary"
							- if (params[:action] == "about")
								= link_to "<i class='icon-comment'></i> О нас".html_safe, "/about", class: "btn btn-primary active"
							- else
								= link_to "<i class='icon-comment'></i> О нас".html_safe, "/about", class: "btn btn-primary"
							- if (params[:action] == "contact")
								= link_to "<i class='icon-envelope'></i> Контакты".html_safe, "/contact", class: "btn btn-primary active"
							- else
								= link_to "<i class='icon-envelope'></i> Контакты".html_safe, "/contact", class: "btn btn-primary"
							//%li{class: "active"}
					.btn-toolbar.pull-right
						.btn-group
							- if @current_user
								- if (params[:controller] == "users") 
									= link_to "<i class='icon-user'></i> #{@current_user.name}".html_safe, @current_user, class: "btn btn-primary active"
								- else
									= link_to "<i class='icon-user'></i> #{@current_user.name}".html_safe, @current_user, class: "btn btn-primary"
								- if (params[:controller] == "sessions") 
									= link_to "<i class='icon-share-alt'></i> Выйти".html_safe, logout_path, method: :delete, class: "btn btn-primary active"
								- else
									= link_to "<i class='icon-share-alt'></i> Выйти".html_safe, logout_path, method: :delete, class: "btn btn-primary"
							- else
								- if (params[:controller] == "users")
									= link_to "Регистрация", "/register", class: "btn btn-primary active"
								- else
									= link_to "Регистрация", "/register", class: "btn btn-primary"
								- if (params[:controller] == "sessions")
									= link_to "Вход", login_path, class: "btn btn-primary active"
								- else
									= link_to "Вход", login_path, class: "btn btn-primary"
					.clear
			.container-fluid
				.row-fluid
					.span3
						.well
							.nav-header Наша продукция
							//%li{class:"active"}= link_to "Футболки", "/products/1"
							- if (((params[:controller] == "products")&&(params[:id].to_i == 1)) || ((params[:controller] == "product_types")&&(params[:id].to_i > 0)&&(params[:id].to_i < 11))) && (params[:action] == "show")
								= link_to "Футболки", "/products/1", class: "btn btn-info btn-block active"
							- else
								= link_to "Футболки", "/products/1", class: "btn btn-info btn-block"
							- if (((params[:controller] == "products")&&(params[:id].to_i == 2)) || ((params[:controller] == "product_types")&&(params[:id].to_i > 10)&&(params[:id].to_i < 13))) && (params[:action] == "show")
								= link_to "Рубашки поло", "/products/2", class: "btn btn-info btn-block active"
							- else
								= link_to "Рубашки поло", "/products/2", class: "btn btn-info btn-block"
							- if (((params[:controller] == "products")&&(params[:id].to_i == 3)) || ((params[:controller] == "product_types")&&(params[:id].to_i > 12)&&(params[:id].to_i < 15))) && (params[:action] == "show")
								= link_to "Толстовки", "/products/3", class: "btn btn-info btn-block active"
							- else
								= link_to "Толстовки", "/products/3", class: "btn btn-info btn-block"
							- if (((params[:controller] == "products")&&(params[:id].to_i == 4)) || ((params[:controller] == "product_types")&&(params[:id].to_i > 14)&&(params[:id].to_i < 19))) && (params[:action] == "show")
								= link_to "Бейсболки", "/products/4", class: "btn btn-info btn-block active"
							- else
								= link_to "Бейсболки", "/products/4", class: "btn btn-info btn-block"
						.well
							- if (params[:controller] == "product_sizes") && (!params[:get_product_type_id]) && (params[:action] == "index")
								= link_to "<i class='icon-search'></i> Поиск товара".html_safe, product_sizes_path, class: "btn btn-inverse btn-block active"
							-else
								= link_to "<i class='icon-search'></i> Поиск товара".html_safe, product_sizes_path, class: "btn btn-inverse btn-block"
						- if @cart
							#cart
								= render @cart
					.span9
						-if notice
							.alert.alert-success=notice.html_safe
						.well
							= yield
			#push
		%footer#footer
			.container.center
				%p#p_footer &copy; Модерн Импорт 2012
				%p#p_footer
					Powered by
					=link_to "Verch", "http://www.verch.pro/web", target: :blank