!!!
%html
	%head
		-if @title
			%title=@title
		-else
			%title Модерн Импорт
		-if @meta_desc
			="<meta description='#{@meta_desc}'/>".html_safe
		= stylesheet_link_tag    "application", :media => "all"
		= javascript_include_tag "application"
		= csrf_meta_tags
	%body
		#wrap.gradient
			#temp_params_info.hide
				=params
			%div.logo
				=image_tag "Hat.png"
			%div{style: "background: url(#{asset_path '1border.png' }); background-size: cover;"}
				.main_nav
					= link_to "<i class='icon-home'></i> Главная".html_safe, root_path
					- if ((params[:controller] == "products") || (params[:controller] == "product_types") || params[:get_product_type_id]) && (params[:action] == "index")
						= link_to "<i class='icon-tasks'></i> Склад".html_safe, "/sklad", class: "active"
					- else
						= link_to "<i class='icon-tasks'></i> Склад".html_safe, "/sklad"
					- if (params[:action] == "scheme")
						= link_to "<i class='icon-random'></i> Схема проезда".html_safe, "/scheme", class: "active"
					- else
						= link_to "<i class='icon-random'></i> Схема проезда".html_safe, "/scheme"
					- if (params[:action] == "about")
						= link_to "<i class='icon-comment'></i> О нас".html_safe, "/about", class: "active"
					- else
						= link_to "<i class='icon-comment'></i> О нас".html_safe, "/about"
					- if (params[:action] == "contact")
						= link_to "<i class='icon-envelope'></i> Контакты".html_safe, "/contact", class: "active"
					- else
						= link_to "<i class='icon-envelope'></i> Контакты".html_safe, "/contact"
					- if (params[:action] == "convertsizes")
						= link_to "<i class='icon-refresh'></i> Перевод размеров".html_safe, "/convertsizes", class: "active"
					- else
						= link_to "<i class='icon-refresh'></i> Перевод размеров".html_safe, "/convertsizes"
					- if @current_user
						- if (params[:controller] == "users") 
							= link_to "<i class='icon-user'></i> #{@current_user.name}".html_safe, @current_user, class: "active"
						- else
							= link_to "<i class='icon-user'></i> #{@current_user.name}".html_safe, @current_user
						- if (params[:controller] == "sessions") 
							= link_to "<i class='icon-share-alt'></i> Выйти".html_safe, logout_path, method: :delete, class: "active"
						- else
							= link_to "<i class='icon-share-alt'></i> Выйти".html_safe, logout_path, method: :delete
					- else
						- if (params[:controller] == "users")
							= link_to "Регистрация", "/register", class: "active"
						- else
							= link_to "Регистрация", "/register"
						- if (params[:controller] == "sessions")
							= link_to "Вход", login_path, class: "active"
						- else
							= link_to "Вход", login_path
					.clear
			.container-fluid.up15
				.row-fluid
					.span3
						#well
							%ul.nav.nav-list
								.nav-header
									Наша продукция
									= link_to "<i class='icon-search'></i>".html_safe, product_sizes_path
								//%li{class:"active"}= link_to "Футболки", "/futbolki"
								- if (((params[:controller] == "products")&&(params[:id].to_i == 1)) || ((params[:controller] == "product_types")&&(params[:id].to_i > 0)&&(params[:id].to_i < 11))) && (params[:action] == "show")
									%li{class:"activeMy"}
										= link_to "<i class='icon-chevron-down'></i>Футболки".html_safe, "/futbolki", class: "side_link"
										%ul.nav.nav-list
											- if (params[:controller] == "product_types")&&(params[:id].to_i == 1)
												%li{class:"activeMy"}= link_to "Мужские кор. рук. 155 гр хлопок 100%".html_safe, "/futbolki/1"
											-else
												%li= link_to "Мужские кор. рук. 155 гр хлопок 100%".html_safe, "/futbolki/1"
											- if (params[:controller] == "product_types")&&(params[:id].to_i == 2)
												%li{class:"activeMy"}= link_to "Женские кор. рук. 155 гр хлопок 100%".html_safe, "/futbolki/2"
											-else
												%li= link_to "Женские кор. рук. 155 гр хлопок 100%".html_safe, "/futbolki/2"
											- if (params[:controller] == "product_types")&&(params[:id].to_i == 3)
												%li{class:"activeMy"}= link_to "Детские кор. рук. 155 гр хлопок 100%".html_safe, "/futbolki/3"
											-else
												%li= link_to "Детские кор. рук. 155 гр хлопок 100%".html_safe, "/futbolki/3"
											- if (params[:controller] == "product_types")&&(params[:id].to_i == 4)
												%li{class:"activeMy"}= link_to "Мужские дл. рук. 155 гр хлопок 100%".html_safe, "/futbolki/4"
											-else
												%li= link_to "Мужские дл. рук. 155 гр хлопок 100%".html_safe, "/futbolki/4"
											%li{class:"divider"}
											- if (params[:controller] == "product_types")&&(params[:id].to_i == 5)
												%li{class:"activeMy"}= link_to "Мужские кор. рук. 180 гр хлопок / лайкра".html_safe, "/futbolki/5"
											-else
												%li= link_to "Мужские кор. рук. 180 гр хлопок / лайкра".html_safe, "/futbolki/5"
											- if (params[:controller] == "futbolki")&&(params[:id].to_i == 6)
												%li{class:"activeMy"}= link_to "Женские кор. рук. 180 гр хлопок  / лайкра".html_safe, "/futbolki/6"
											-else
												%li= link_to "Женские кор. рук. 180 гр хлопок  / лайкра".html_safe, "/futbolki/6"
											- if (params[:controller] == "product_types")&&(params[:id].to_i == 7)
												%li{class:"activeMy"}= link_to "Мужские дл. рук. 180 гр хлопок / лайкра".html_safe, "/futbolki/7"
											-else
												%li= link_to "Мужские дл. рук. 180 гр хлопок / лайкра".html_safe, "/futbolki/7"
											- if (params[:controller] == "product_types")&&(params[:id].to_i == 8)
												%li{class:"activeMy"}= link_to "Женские дл. рук. 180 гр хлопок / лайкра".html_safe, "/futbolki/8"
											-else
												%li= link_to "Женские дл. рук. 180 гр хлопок / лайкра".html_safe, "/futbolki/8"
											%li{class:"divider"}
											- if (params[:controller] == "product_types")&&(params[:id].to_i == 9)
												%li{class:"activeMy"}= link_to "Кор. рук. 125 гр хлопок 100%".html_safe, "/futbolki/9"
											-else
												%li= link_to "Кор. рук. 125 гр хлопок 100%".html_safe, "/futbolki/9"
											- if (params[:controller] == "product_types")&&(params[:id].to_i == 10)
												%li{class:"activeMy"}= link_to "Без рук. 125 гр хлопок 100%".html_safe, "/futbolki/10"
											-else
												%li= link_to "Без рук. 125 гр хлопок 100%".html_safe, "/futbolki/10"
								- else
									%li= link_to "<i class='icon-chevron-right'></i>Футболки".html_safe, "/futbolki", class: "side_link"
								- if (((params[:controller] == "products")&&(params[:id].to_i == 2)) || ((params[:controller] == "product_types")&&(params[:id].to_i > 10)&&(params[:id].to_i < 13))) && (params[:action] == "show")
									%li{class:"activeMy"}
										= link_to "<i class='icon-chevron-down'></i>Рубашки поло".html_safe, "/rubashki-polo", class: "side_link"
										%ul.nav.nav-list
											- if (params[:controller] == "product_types")&&(params[:id].to_i == 11)
												%li{class:"activeMy"}= link_to "Мужские".html_safe, "/rubashki-polo/11"
											-else
												%li= link_to "Мужские".html_safe, "/rubashki-polo/11"
											- if (params[:controller] == "product_types")&&(params[:id].to_i == 12)
												%li{class:"activeMy"}= link_to "Женские".html_safe, "/rubashki-polo/12"
											-else
												%li= link_to "Женские".html_safe, "/rubashki-polo/12"
								- else
									%li= link_to "<i class='icon-chevron-right'></i>Рубашки поло".html_safe, "/rubashki-polo", class: "side_link"
								- if (((params[:controller] == "products")&&(params[:id].to_i == 3)) || ((params[:controller] == "product_types")&&(params[:id].to_i > 12)&&(params[:id].to_i < 15))) && (params[:action] == "show")
									%li{class:"activeMy"}
										= link_to "<i class='icon-chevron-down'></i>Толстовки".html_safe, "/tolstovki", class: "side_link"
										%ul.nav.nav-list
											- if (params[:controller] == "product_types")&&(params[:id].to_i == 13)
												%li{class:"activeMy"}= link_to "Мужские".html_safe, "/tolstovki/13"
											-else
												%li= link_to "Мужские".html_safe, "/tolstovki/13"
											- if (params[:controller] == "product_types")&&(params[:id].to_i == 14)
												%li{class:"activeMy"}= link_to "Женские".html_safe, "/tolstovki/14"
											-else
												%li= link_to "Женские".html_safe, "/tolstovki/14"
								- else
									%li= link_to "<i class='icon-chevron-right'></i>Толстовки".html_safe, "/tolstovki", class: "side_link"
								- if (((params[:controller] == "products")&&(params[:id].to_i == 4)) || ((params[:controller] == "product_types")&&(params[:id].to_i > 14)&&(params[:id].to_i < 19))) && (params[:action] == "show")
									%li{class:"activeMy"}
										= link_to "<i class='icon-chevron-down'></i>Бейсболки".html_safe, "/beysbolki", class: "side_link"
										%ul.nav.nav-list
											- if (params[:controller] == "product_types")&&(params[:id].to_i == 15)
												%li{class:"activeMy"}= link_to "Классика".html_safe, "/beysbolki/15"
											-else
												%li= link_to "Классика".html_safe, "/beysbolki/15"
											- if (params[:controller] == "product_types")&&(params[:id].to_i == 16)
												%li{class:"activeMy"}= link_to "Комфорт".html_safe, "/beysbolki/16"
											-else
												%li= link_to "Комфорт".html_safe, "/beysbolki/16"
											- if (params[:controller] == "product_types")&&(params[:id].to_i == 17)
												%li{class:"activeMy"}= link_to "Люкс".html_safe, "/beysbolki/17"
											-else
												%li= link_to "Люкс".html_safe, "/beysbolki/17"
											- if (params[:controller] == "product_types")&&(params[:id].to_i == 18)
												%li{class:"activeMy"}= link_to "Люкс Экстра".html_safe, "/beysbolki/18"
											-else
												%li= link_to "Люкс Экстра".html_safe, "/beysbolki/18"
								- else
									%li= link_to "<i class='icon-chevron-right'></i>Бейсболки".html_safe, "/beysbolki", class: "side_link"
								- if @current_user
									%li{class:"divider"}
									%li= link_to "<i class='icon-user'></i>Личный кабинет".html_safe, @current_user, class: "side_link"
									%ul.nav.nav-list
										- if @current_group and @current_group.admin_flag
											%li= link_to 'Заказы/Резервы', orders_path
											%li= link_to 'Склад', products_path
											%li= link_to 'Архив', orders_path(temp_order_id: "5")
											%li= link_to 'Пользователи', users_path
											%li= link_to 'Группы', user_groups_path
											%li= link_to 'Редактор новостей', edit_tool_path(1)
											%li= link_to 'Управление скидками', discounts_path 
										- else
											%li= link_to 'Счета', specs_path
											%li= link_to 'Заказы/Резервы', orders_path 
							.clear	
						%br
						- if @cart
							#cart
								= render @cart
					.span9
						-if notice
							.alert.alert-success=notice.html_safe
						#well
							= yield
			#push
		%footer#footer
			.footer#footer
				%p#p_footer &copy; Модерн Импорт 2013
				%p#p_footer
					Оптимизация и продвижение сайта
					=link_to "Qmedia", "http://www.qmedia.by", target: :blank
					%br
					Powered by
					=link_to "Verch", "http://www.verch.pro/web", target: :blank
