!!!
%html
	%head
		%title Модерн Импорт
		= stylesheet_link_tag    "application", :media => "all"
		= javascript_include_tag "application"
		= csrf_meta_tags
	%body
		#wrap
			#temp_params_info.hide
				=params
			=image_tag "Hat.png",{width: "100%" }
			.navbar
				.navbar-inner
					= link_to "Модерн Импорт", root_path, class: "brand"
					%ul{class: "nav"}
						%li{class: "divider-vertical"}
						%li= link_to "Склад", "/products"
						%li= link_to "Перевод размеров", "/convertsizes"
						%li= link_to "Схема проезда", "/scheme"
						%li= link_to "О нас", "/about"
						%li= link_to "Контакты", "/contact"
						//%li{class: "active"}
					%ul{class: "nav pull-right"}
						%li{class: "divider-vertical"}
						%li
							- if @current_user
								%li=link_to @current_user.name, @current_user
								%li= link_to "Выйти", logout_path, method: :delete
							- else
								%li= link_to "Регистрация", "/register"
								%li= link_to "Вход", login_path
			.container-fluid
				.row-fluid
					.span3
						.well.sidebar-nav
							%ul{class: "nav nav-list"}
								%li{class: "nav-header"}Наша продукция
								%li{class: "divider"}
								//%li{class:"active"}= link_to "Футболки", "/products/1"
								%li= link_to "Футболки", "/products/1"
								%li= link_to "Рубашки поло", "/products/2"
								%li= link_to "Толстовки", "/products/3"
								%li= link_to "Бейсболки", "/products/4"
						.well
							= link_to "Поиск товара", product_sizes_path			
						- if @cart
							#cart
								= render @cart
					.span9
						.well
							= yield
			#push
		%footer#footer
			.container
				%p#p_footer &copy; Модерн Импорт 2012